<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedagram</title>
</head>

<body>

<script type=text/javascript src="{{
  url_for('static',  filename='js/jquery-1.12.4.min.js') }}">
</script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<h1>Hello World!</h1>

<form action="/output_json">
    <button id="make_carousel">Do The Needful</button>
</form>
<img src="{{ url_for('static',filename="images/img0.jpg")}}">
<!--
<script type="text/javascript">
    $(function() {
     $('#make_carousel').bind('click', function(){

     $.getJSON($SCRIPT_ROOT + '/generate_images', {

     }
     })




</script>
-->
<script type=text/javascript>
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/get_image_metadata',
      function(data) {
         console.log(data.result.metadata[0].caption)

        for(i = 0; i < 10; i++)
           console.log(data.result.metadata[i].caption)

         $("#result").text(data.result.metadata[2].caption);
      });
      return false;
    });
  });
</script>
<h1>jQuery Example</h1>

<p><a href=# id=calculate>calculate server side</a>





</body>
</html>